/*------------------------------------*\
    RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
    v2.0b1 | 201101
    NOTE:WORK IN PROGRESS
    USE WITH CAUTION AND TEST WITH ABANDON */

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
    display:block;
}
body{
    line-height:1;
}
ol,ul{
    list-style:none;
}
blockquote,q{
    quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
    content:’’;
    content:none;
}
/* remember to define visible focus styles!
:focus{
    outline:?????;
} */

/* remember to highlight inserts somehow! */
ins{
    text-decoration:none;
}
del{
    text-decoration:line-through;
}

table{
    border-collapse:collapse;
    border-spacing:0;
}

body { min-width: 750px; background-color: #4B92A6; color: #262626; font-size: 16px;}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 20px;
}

.title { font-weight: bold;}
.date { font-style: italic; padding:5px 0 10px 5px;}

strong { display: inline; font-style: italic; }
div.name { font-size:32px; padding-bottom: 5px 0 10px 0; }
img.contact { vertical-align: baseline; margin: 6px 0 0 15px;}
h1 { font-size:24px; padding-bottom: 10px; color: #DAA520; }
h2 { display:block; }
h3 {
    padding: 4px;
    margin: 1px 0 2px 0;
    background-color: #DAA520;
    display: inline-block;
    border-radius: 4px;
    text-transform: capitalize;
    font-size: 14px;
}

section {
    width:81%;
    background-color: #FFF;
    border-radius: 4px;
    padding: 10px 5px 10px 5px;
    margin: 5px 0 10px 0;
}
aside {
    float: right;
    width: 15%;
    max-width: 300px;
    min-width: 100px;
    background-color: #D9F7FF;

    border-radius: 4px;
    padding: 10px 5px 10px 5px;
}

.toggle-details {display: block; padding:5px 0 5px 0; color: #DAA520; cursor: pointer;}
.details { display:none; font-size: 14px;}
.details>ul {
    list-style: disc;
}

.details>ul>li {
    padding: 3px 0px 3px 0px;
    margin: 3px 0px 3px 20px;
}
header { background-color: #D9F7FF; padding: 5px; border-radius: 4px; margin-bottom: 10px;}
header>p { font-style: italic; }
