<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ name }} -- {{ title }}</title>
    <link rel="stylesheet" href="css/style.css">
    <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body id="home">
    <main class='center'>
        <header>
        <div class="name">
            {{ name }}
            <img class='contact' title='{{name}}' src='{{ email_src }}' alt='Contact me' />
        </div>
        <h1>{{ title }}</h1>
        <p>
        {{ objective }}
        </p>
        </header>
        <div>
            <aside>
                <p class="title">Interests</p>
                <summary class='interests'>
                    {% for tag in interests %}
                    <h3>
                        {{ tag }}
                    </h3>
                    {% endfor %}
                </summary>
                <p class="title">Languages</p>
                <summary class='languages'>
                    {% for tag in languages %}
                    <h3>
                        {{ tag }}
                    </h3>
                    {% endfor %}
                </summary>
                <p class="title">Technologies</p>
                <summary class='technologies'>
                    {% for tag in technologies %}
                    <h3>
                        {{ tag }}
                    </h3>
                    {% endfor %}
                </summary>
                <p class="title">Certifications</p>
                <summary class='certifications'>
                    {% for tag in certifications %}
                    <h3>
                        {{ tag }}
                    </h3>
                    {% endfor %}
                </summary>
            </aside>
            {% for job in experience %}
            <section class='experience' id='{{job.id}}'>
                <p class='title'>
                    {{ job.title }} -- {{ job.location }}
                </p>
                <p class='date'>
                    {{ job.date }}
                </p>
                <summary>
                    <h2 class='description'>
                        {{ job.description }}
                    </h2>
                    <a class='toggle-details'>Show Details...<a>
                    <summary class='details'>
                        {% if job.projects != null %}
                        <ul>
                        {% for project in job.projects %}
                        <li><strong>{{ project.name }}:</strong> {{ project.description }}</li>
                        {% endfor %}
                        </ul>
                        {% endif %}

                        {% for tag in job.tags %}
                        <h3>
                            {{ tag }}
                        </h3>
                        {% endfor %}
                    </summary>
                </summary>
            </section>
            {% endfor %}
        </div>
    </main>
    <script type="text/javascript">
        var display = 'inline-block';
        function detailsClick() {
            var details = this.parentNode.querySelectorAll('.details');
            for (var idx = 0; idx < details.length; ++idx) {
                el = details[idx];
                if (el.style.display == display) {
                    this.textContent = "Show Details...";
                    el.style.display = 'none';
                } else {
                    this.textContent = "Hide Details...";
                    el.style.display = display;
                }
            }
        }
        document.addEventListener("DOMContentLoaded", function() {
            var detailsLinks = document.querySelectorAll('.toggle-details');
            for (var idx = 0; idx < detailsLinks.length; ++idx) {
                detailsLinks[idx].onclick = detailsClick;
            }
        });

    </script>
</body>
</html>
