<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ name }} -- {{ title }}</title>
    <link rel="stylesheet" href="css/style.css">
    <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body id="home">
    <main class='center'>
        <header>
        <h1>
            {{ name }}
            <img class='contact' title='{{name}}' src='{{ email_src }}' alt='Contact me' />
        </h1>
        <h2>{{ title }}</h2>
        <p>
        {{ objective }}
        </p>
        </header>
        <div>
            <aside>
                <h3>Interests</h3>
                <summary class='interests'>
                    {% for tag in interests %}
                    <detail class='tag'>
                        {{ tag }}
                    </detail>
                    {% endfor %}
                </summary>
                <h3>Languages</h3>
                <summary class='languages'>
                    {% for tag in languages %}
                    <detail class='tag'>
                        {{ tag }}
                    </detail>
                    {% endfor %}
                </summary>
                <h3>Technologies</h3>
                <summary class='technologies'>
                    {% for tag in technologies %}
                    <detail class='tag'>
                        {{ tag }}
                    </detail>
                    {% endfor %}
                </summary>
                <h3>Certifications</h3>
                <summary class='certifications'>
                    {% for tag in certifications %}
                    <detail class='tag'>
                        {{ tag }}
                    </detail>
                    {% endfor %}
                </summary>
            </aside>
            {% for job in experience %}
            <section class='experience' id='{{job.id}}'>
                <p class='title'>
                    {{ job.title }} -- {{ job.location }}
                </p>
                <p class='date'>
                    {{ job.date }}
                </p>
                <summary>
                    <detail class='description'>
                        {{ job.description }}
                    </detail>
                    <a href='#{{job.id}}' class='toggle-skills'>Show Skills...<a>
                    {% for tag in job.tags %}
                    <detail class='tag skills'>
                        {{ tag }}
                    </detail>
                    {% endfor %}
                </summary>
            </section>
            {% endfor %}
        </div>
    </main>
    <script type="text/javascript">
        var display = 'inline-block';
        function skillsClick() {
            var details = this.parentNode.querySelectorAll('.skills');
            for (var idx = 0; idx < details.length; ++idx) {
                el = details[idx];
                if (el.style.display == display) {
                    this.text = "Show Skills...";
                    el.style.display = 'none';
                } else {
                    this.text = "Hide Skills...";
                    el.style.display = display;
                }
            }
        }
        document.addEventListener("DOMContentLoaded", function() {
            var skillLinks = document.querySelectorAll('.toggle-skills');
            for (var idx = 0; idx < skillLinks.length; ++idx) {
                skillLinks[idx].onclick = skillsClick;
            }

        });

    </script>
</body>
</html>
